<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tt3">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".news"></activity>
        <activity
            android:name=".thiird1"
            android:parentActivityName=".thiird" />
        <activity
            android:name=".second1"
            android:parentActivityName=".second" />
        <activity
            android:name=".fill"
            android:parentActivityName=".thiird1" />
        <activity android:name=".thiird" />
        <activity android:name=".option" />
        <activity android:name=".second" />
        <activity
            android:name=".first"
            android:parentActivityName=".option" />
        <activity
            android:name=".first1"
            android:parentActivityName=".first" />
        <activity
            android:name=".splash"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>